<h1>{{post.title}}</h1>
<p>{{post.content}}</p>
<h2>Comments</h2>
<div>
  {{#each comments}}
    <div class="comment">
      <p>{{this.comment_text}}</p>
      <p><strong>{{this.user.username}}</strong></p>
    </div>
  {{/each}}
</div>
{{#if loggedIn}}
  <form id="comment-form" data-id="{{post.id}}">
    <textarea name="text" placeholder="Add a comment"></textarea>
    <button type="submit">Submit</button>
  </form>

  <script src="/js/comment.js"></script>
{{else}}
  <p>Please <a href="/login">login</a> or <a href="/signup">sign up</a> to comment.</p>
{{/if}}
